body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

p {
    text-align: center;
}

.ft-h1 {
    margin-top: 3rem;
    text-align: center;
}

.small-text {
    font-size: 10px;
    font-style: italic;
}

.lists {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

.lists p {
    font-size: 18px;
}

.lists li {
    font-size: 15px;
}

.lists ul {
    padding-right: 20px;
}

.skill-div {
    border: none;
    width: auto;
    margin-right: 10rem;
    background-color: lightblue;
    border-radius: 20px;
}

.interest-div {
    border: none;
    width: auto;
    background-color: lightblue;
    border-radius: 20px;
}

.knowledge-div {
    border: none;
    width: auto;
    margin-left: 10rem;
    background-color: lightblue;
    border-radius: 20px;
}

.lists p {
    text-align: center;
    font-weight: bolder;
}

.go-back-btn {
    margin-top: 3.5rem;
    margin-left: 4rem;
    height: 50px;
    width: 80px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: bisque;
    transition: 0.5s;
}

.go-back-btn:hover {
    width: 110px;
}

.back-btn {
    text-decoration: none;
    font-size: 21px;
    opacity: 0%;
    transition: 0.5s;
}

.back-btn:hover {
    opacity: 100%;
}

.bottom-div {
    border: 1px solid gray;
    border-radius: 20px;
    margin-top: 1.5rem;
    height: auto;
    background-color: gainsboro;
}

.bottom-h1 {
    padding-top: 0.7rem;
    text-align: center;
}

.bottom-div p {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 15rem;
    padding-right: 15rem;
    text-align-last: left;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px lightgrey; 
    border-radius: 10px;
}